.features-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 10rem 0 20rem 0;

    .feature {
        width: 30rem;
        transition: all 4s ease;
        height: 40rem;
        position: relative;
        perspective: 150rem;
        padding-top: 10rem;

        .side {
            width: 100%;
            position: absolute;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-radius: 1rem;
            overflow: hidden;
            transition: all .8s ease;
            box-shadow: 0 1.5rem 4rem rgba(black, .7);
        }

        .front {
            background: rgba($secondary-background, .5);  /* fallback for old browsers */
            height: 38rem;

            h1 {
                font-size: 3rem;
                letter-spacing: 1.5px;
                text-align: center;
                margin: 1rem 0;
            }

            p {
                font-size: 2rem;
                text-align: center;
            }
        }

        .back {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            transform: rotateY(180deg);
            background-color: $primary-color;
            height: 38rem;

            p {
                font-size: 3rem;
            }

            button {
                padding: 2rem;
                width: 80%;
                border-radius: 1rem;
            }
        }

        &:hover .front {
            transform: rotateY(-180deg);
        }
        &:hover .back {
            transform: rotateY(0);
        }
    }
}