.home-container {
    background-color: $secondary-background;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    height: 80rem;
    width: 100%;
    z-index: 2;
    padding-top: 1rem;

    @media(max-width: 500px)  {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
    }
}

.carousel-section {
    width: 100%;
    margin: 0 auto;
    margin-top: 10rem;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.carousel-parent {
    width: 60rem;
    height: 40rem;
}

.home-intro {
    width: 70rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        color: $primary-color;
        font-size: 5rem;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
    }
}

.intro-body-container {
    width: 80%;
    margin: 0 auto;
}

.body-text {
    font-size: 2rem;
    line-height: 4rem;
}

.features-home-container {
    margin-top: -18rem;
    padding-top: 5rem;
    background-color: #fafafa; 
    z-index: 1;
}